@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/*Colors*/

/*Primary*/

/*Text*/

--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);

/*Gradient*/

/*Background gradient:*/

--Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);

/*Neutral*/

/*Text*/

--Very-dark-grayish-blue: hsl(237, 12%, 33%);
--Dark-grayish-blue: hsl(240, 6%, 50%);

/*Dividers*/

--Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg,var(--Soft-blue),var(--Soft-violet));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    font-family: 'Overpass', sans-serif;  
}

main {
    width: 920px;
    height: 510px;    
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 32px;
}

.image {
    height: 510px;
    background-image: url("/src/images/bg-pattern-desktop.svg");
    background-position: -570px -300px; 
    background-repeat: no-repeat;
    
}


.img {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
}

.illustration-woman {
    position: relative;    
    left: -80px;
}

.illustration-box {
    position: relative;
    top: -330px;  
    left: -130px;     
}

.FAQ {
    width: auto;
    height: auto;
    display: grid;
    padding: 80px 95px 80px 35px;
}

h1 {
    align-self: center;
    font-weight: 700;
    font-size: xx-large;
}

.Q1, .Q2, .Q3, .Q4, .Q5 {
    display: grid; 
    grid-template-columns:  1fr min-content;    
    border-bottom: 1px var(--Light-grayish-blue) solid;
    align-items: center ; 
    font-size: 12px;
      
}

.question1, .question2, .question3, .question4, .question5 {
    font-size: 12px;
    color: black;
    font-weight: 400;
}

.question1:hover, .question2:hover, .question3:hover, .question4:hover, .question5:hover {
    cursor: pointer;
    color: var(--Soft-red);
}

.arrow {
    margin-right: 20px;
}

.attribution { 
    margin-top: 50px;           
    font-size: 11px; 
    text-align: center;     
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }


